.saas-banner {

    padding: 0px 0;
}
.saas-banner .hero-content h1 {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 35px;
    color: #90331C;
}
.saas-banner .hero-content h2 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 35px;
}
.saas-banner .h2 {
    font-size: 20px;
    line-height: 40px;
}

.features-item {
    pointer-events: none;
    cursor: default;
    opacity: 1 !important;
}
